<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">

<head>
	<meta charset="utf-8">
	<!-- CSS only -->
	<title>Registro de Proveedor</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Registro de Proveedor</h1>
				<div class="card-body">
					<form th:action="@{/usuario}" th:object="${usuario}" method="post">
						<div class="form-group">
						<div class="form-group">
							<label>Doc</label>
							<select th:field= "*{tipodocumento}" class="form-control" required>
								<th:block th:each="tipodocumento:${listarTodosLosTipoDocumentos}">
								<option th:text="${tipodocumento.tipodoc}" th:value="${tipodocumento.iddoc}">
								</option>
								</th:block>
							</select>
						</div>
							<label>Rol</label>
							<select th:field= "*{rol}" class="form-control" required>
								<th:block th:each="rol:${listarTodosLosRoles}">
								<option th:text="${rol.tiporol}" th:value="${rol.idrol}">
								</option>
								</th:block>
							</select>
						</div>
						
						<div class="form-group">
							<label>P.Nombre</label>
							<input type="text" name="pnombre" th:field="*{pnombre}" class="from-control">
						</div>
						<div class="form-group">
							<label>S.Nombre</label>
							<input type="text" name="snombre" th:field="*{snombre}" class="from-control">
						</div>
						<div class="form-group">
							<label>P.Apellido</label>
							<input type="text" name="papellido" th:field="*{papellido}" class="from-control">
						</div>
						<div class="form-group">
							<label>S.Apellido</label>
							<input type="text" name="sapellido" th:field="*{sapellido}" class="from-control">
						</div>
						<div class="form-group">
							<label>Correo</label>
							<input type="text" name="correo" th:field="*{correo}" class="from-control">
						</div>
						<div class="form-group">
							<label>Contraseña</label>
							<input type="text" name="contrasena" th:field="*{contrasena}" class="from-control">
						</div>
						<br>
						<div class="box-footer">
							<button class="btn btn-success">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>