<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">

<head>
	<meta charset="utf-8">
	<!-- CSS only -->
	<title>Lista de Producto</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<div class="row">
			<h1>Lista producto </h1>
			<div class="row">
			<div class="col-lg-3">
			<a th:href="@{/producto/crear}" class="btn btn-primary btn-sm mb3">crear </a>
			</div>
			</div>
			<br><br>
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>Id</th>
						<th>Categoria</th>
						<th>Descuento</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Descripcion</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto : ${producto}">
						<td th:text="${producto.idproducto}">Id</td>
					
					
						<td th:text="${producto.nombreproducto}">Nombre</td>
						<td th:text="${producto.precioproducto}">Precio</td>
						<td th:text="${producto.descripcion}">Descripcion</td>
						<td>
							<a th:href="@{/producto/editar/{idproducto}(idproducto=${producto.idproducto})}" class="btn btn-info">Editar</a>
						</td>
						<td>
						
						<a th:href="@{/producto/{idproducto}(idproducto=${producto.idproducto})}" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
			<a th:href="@{/exportarExcelProducto}" class="btn btn-success">Exportar</a>	
		</div>	
		<br><br>
		<div>
			<a th:href="@{/ExportarPdfProducto}" class="btn btn-danger">Exportar Pdf</a>	
		</div>
		<br><br>
		<div>
			<a th:href="@{/ExportarGraficaProducto}" class="btn btn-warning">Exportar Grafica</a>	
		</div>
	</div>
</body>

</html>