<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">

<head>
	<meta charset="utf-8">
	<!-- CSS only -->
	<title>Registro de Producto</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Editar Producto</h1>
				<div class="card-body">
					<form th:action="@{/producto/{idproducto}(idproducto=${producto.idproducto})}"
						th:object="${producto}" method="post">
						<div class="form-group">
								<label>Categoria</label>
								<select th:field="*{categoria}" class="form-control" required>
									<th:block th:each="categoria:${listarTodosLosCategorias}">
										<option th:text="${categoria.idcategoria}" th:value="${categoria.idcategoria}">
										</option>
									</th:block>
								</select>
							</div>
						<div class="form-group">
								<label>Descuento</label>
								<select th:field="*{descuento}" class="form-control" required>
									<th:block th:each="descuento:${listarTodosLosDescuentos}">
										<option th:text="${descuento.iddescuento}" th:value="${descuento.iddescuento}">
										</option>
									</th:block>
								</select>
							</div>
						<div class="form-group">
							<label>Nombre Producto</label>
							<input type="text" name="nombreproducto" th:field="*{nombreproducto}" class="from-control">
						</div>
				        <div class="form-group">
							<label>Precio</label>
							<input type="text" name="precioproducto" th:field="*{precioproducto}" class="from-control">
						</div>
						<div class="form-group">
							<label>Descripcion</label>
							<input type="text" name="descripcion" th:field="*{descripcion}" class="from-control">
						</div>
						<br>
						<div class="box-footer">
							<button class="btn btn-success">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>