<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">

<head>
	<meta charset="utf-8">
	<!-- CSS only -->
	<title>Registro de Proveedor</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Registro de Proveedor</h1>
				<div class="card-body">
					<form th:action="@{/factura}" th:object="${factura}" method="post">
						<div class="form-group">
							<div class="form-group">
								<label>Ud Usuario</label>
								<select th:field="*{usuario}" class="form-control" required>
									<th:block th:each="usuario:${listarTodosLosUsuarios}">
										<option th:text="${usuario.idusuario}" th:value="${usuario.idusuario}">
										</option>
									</th:block>
								</select>
							</div>

							<div class="form-group">
								<label>P.Nombre</label>
								<input type="text" name="nombre" th:field="*{nombre}" class="from-control">
							</div>
							<div class="form-group">
								<label>S.Nombre</label>
								<input type="text" name="fecha" th:field="*{fecha}" class="from-control">
							</div>
							<div class="form-group">
								<label>P.Apellido</label>
								<input type="text" name="preciofact" th:field="*{preciofact}" class="from-control">
							</div>
							
							<br>
							<div class="box-footer">
								<button class="btn btn-success">Guardar</button>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>